@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Fuggles&family=Libre+Baskerville:wght@700&display=swap');

:root{
  --form_background: white;
  --form_letters: black;
  --form_quoter: blueviolet;
  --button_border: black;
  --form_shadow: rgb(52, 52, 52);
}
[data-theme="dark"]{
  --form_background: #1d1e20;
  --form_letters: white;
  --form_quoter: blueviolet;
  --button_border: white;
  --form_shadow: black;
}
*{
  margin: 0%;
  padding: 0%;
  transition: all .3s ease-in-out;
}
body{
  background: linear-gradient(to right, black, purple);
}
h1{
  font-family: 'Libre Baskerville', serif;
}
.App {
  text-align: center;
}
a{
  text-decoration: none;
  width: 15%;
}
form{
  padding-top: 30px;
  width: 70%;
}
.formulario{
  color: var(--form_letters);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70%;
  margin-top: 80px;
  margin-bottom: 4%;
  border: none;
  border-radius: 10px;
  background: var(--form_background);
  box-shadow: 2px 4px 15px var(--form_shadow);
  overflow-x: auto;
  max-width: 100%;
}
.btn_form{
  background: black;
  position: relative;
  color: white;
  padding: 2% 3%;
  z-index: 2;
  transition: all 0.3s ease ;
  font-weight: 600;
  overflow: hidden;
  border: 1px solid var(--button_border);
  border-radius: 10px;
}
.botonName{
  font-size: larger;
  z-index: 3;
}
.btn_form:hover{
  color: white;
  background: rgb(246, 219, 44);
  box-shadow: 0 0 20px yellow;
  border-color: yellow;
}
.btn_form::after{
  content: '';
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transition: 0.9s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
.btn_form.activo::after{
  transform: scale(1200);
  background: purple;
}

select, input {
  min-width: 50% !important;
  width: 100% !important;
}
label {
  font-weight: 600;
  color: var(--form_letters);
}
.mb-3{
  display: grid;
}
.btn_form{
  margin: 20px 0px;
}
.btn_delete{
  background: rgb(246, 44, 44);
  position: relative;
  color: white;
  padding: 2px 5px 5px 5px;
  z-index: 2;
  transition: all 0.3s ease ;
  font-weight: 600;
  overflow: hidden;
  border: none;
  border-radius: 5px;
}
.btn_delete:hover{
  color: white;
  background: rgb(236, 11, 11);
  box-shadow: 0 0 10px rgb(255, 0, 81);
  border-color: rgb(255, 0, 119);
}
.btn_delete::after{
  content: '';
  width: 1px;
  height: 1px;
  background: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transition: 0.6s ease-in-out all;
  border-radius: 100px;
  transform-origin: center;
}
.btn_delete.activo::after{
  transform: scale(400);
  background: rgb(174, 3, 3);
  z-index: -1;
}
.importe {
  color: var(--form_quoter);
  font-size: x-large;
  font-weight: 700;
}
.historialink{
  text-decoration: none;
  font-weight: 600;
  color: rgb(110, 107, 107);
  border: solid 1px;
  padding: 5px;
  border-radius: 5px;
}
.div-cotizador {
    margin: auto;
    max-width: 100%;
    overflow-x: auto;
    background-color: var(--form_background);
    padding: 10px;
    border-radius: 0.7rem;
}
.separador {
  margin: 20px;
}
div.historial span {
  text-align: center !important;
  font-size: xx-large;
}
div.historial {
  cursor: pointer;
  display: flex;
  float: right;
  padding: 6px;
  border-radius: 25px;
  width: 55px;
}
.center {
  text-align: center;
}
td, th{
  border-bottom: 0.1rem solid #e1e1e1;
  padding: 1.2rem 1.5rem;
}
table {
  width: 100%; 
  border-collapse: collapse;
  margin-bottom: 2rem;
}
.imguntref{
  width: 50%;
  height: auto;
  min-width: 100% ;
  min-height: 25%;
}
.guardar {
  margin-left: 20px;
  font-size: xx-large;
  cursor: pointer;
}
.arg{
  width: 50%;
  height: auto;
  min-width: 100% ;
  min-height: 25%;
}
.barra{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(20%, 1fr));
  gap: 30%;
}
.dark_mode{
  display: inline-grid;
  justify-content: end;
}
@media only screen and (max-width: 768px){
  .formulario{
    width: 100%;
  }
}
@media only screen and (max-width: 426px){
  form{
    width: 90%;
  }
}
.scale-up-center{
  animation:scale-up-center 0.4s; 
} 
@keyframes scale-up-center{
   0%{transform:scale(.5)} 
   100%{transform:scale(1)} 
}
.rotate-scale-up-horizontal{
  animation:rotate-scale-up-horizontal 0.4s linear both
} 
@keyframes rotate-scale-up-horizontal{
  0%{transform:scale(.5) rotateX(0)}
  100%{transform:scale(1) rotateX(-360deg)}
}